{%  extends "base.html" %}
{% block page_style %}
.btn-success {

	background-color: #C88D50;
	border-radius: 0px;
	border-color: #333;
	}

.btn-success:hover {

	background-color: #333;
	border-radius: 0px;
	border-color: #C88D50;
	}

h1, h2, span, p {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

h1, h2 {
	color: #C88D50;
}

p {
	font-weight: normal;
}
{% endblock %}
{% block content %}
    <div class="container">
        <div class="jumbotron" style="background-color: #FFF;">
            <h1 style="text-align: center; color: #C88D50;">Have a Cookie on Us!</h1>

            <p>Here at Sea Side Advertising, we deliver free advertising services for individuals and small businesses, including our famous cookie campaign! For more details on our current campaigns, click on a link below.</p>

            <div align=center>
                <img src="{{ STATIC_URL }}misc/cookie.png" alt="" height="" width=""><a class="btn btn-lg btn-success"
                                                                                        href="#" role="button">Our
                Promotions</a><img src="{{ STATIC_URL }}misc/cookie.png" alt="" height="" width="">
            </div>
            <br><br>
            {% for campaign in campaigns %}
                <h2><a href="campaign/{{ campaign.id }}">{{ campaign.title }}</a></h2>
                <p>{{ campaign.description }}</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
