{%  extends "base.html" %}
{% block page_style %}
h1, span, p {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

h1 {
	color: #03033c;
}

p {
	font-weight: normal;
}

.centerDropdown {
    left: auto !important;
    right: 30% !important;
}
.centerDropdown:after {
   left: auto !important;
   right: 45% !important;
}

.btn {
	width: 400px;
	color: #03033c;
}

.btn:hover {
	background-color: #FFF;
}

.dropdown-menu>li>a {
	width: 400px;
	color: #03033c;
}

.btn-default.active, .btn-default.focus, .btn-default:active, .btn-default:focus, .btn-default:hover, .open>.dropdown-toggle.btn-default {
	color: #03033c;
}		
    .btn-primary{
        margin-top:10px;
        margin-bottom:10px;
        border-radius: 0;
        border: 1px solid black;
        background: white !important;
        color:black;
        font-weight:bold;
    }
    .btn-primary:hover{
        background:#89C4F4 !important;
        color:white;
    }
{% endblock %}
{% block content %}
    <div class="container" style="background:#89C4F4; color:white !important; border-radius:5px;">

      <!-- Jumbotron -->
      <div class="jumbotron text-center" style="background:#89C4F4;">
        <h1 style="text-align: center; color:white;">What Are We Up To?</h1>
          <a class="btn-primary btn " href="/about" style="color:black; width:33%;">About Us</a>
        <p>Below you'll find a list of the current campaigns we are running.  Just click the title that sounds interesting to you.  Remember, due to us being non profit these will only last for a limited time so act fast!</p>

	<div align=center>
        <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Campaign List
        <span class="caret"></span></button>
        <ul class="dropdown-menu centerDropdown" role="menu" aria-labelledby="menu1">
          {% for campaign in campaigns %}
                 <li role="presentation"><a role="menuitem" href="campaign/{{ campaign.id }}">{{ campaign.title }}</a></li>
                  <li role="presentation" class="divider"></li>
            {% endfor %}
        </ul>
      </div>
	</div>

      </div>

    </div> <!-- /container -->
{% endblock %}
{% block js %}
    $(document).ready(function(){
        var docCenter = $(document).height() / 2;
        var containerHeight = $('.container').height()/2;
        var center = docCenter - containerHeight;
        $('.container').css('margin-top', center);
    });
{% endblock %}
