{%  extends "base.html" %}
{% block page_style %}
h1, span, p {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

h1 {
	color: #03033c;
}

p {
	font-weight: normal;
}

.centerDropdown {
    left: auto !important;
    right: 30% !important;
}
.centerDropdown:after {
   left: auto !important;
   right: 45% !important;
}

.btn {
	width: 400px;
	color: #03033c;
}

.btn:hover {
	background-color: #FFF;
}

.dropdown-menu>li>a {
	width: 400px;
	color: #03033c;
}

.btn-default.active, .btn-default.focus, .btn-default:active, .btn-default:focus, .btn-default:hover, .open>.dropdown-toggle.btn-default {
	color: #03033c;
}		

{% endblock %}
{% block content %}
    <div class="container">

      <!-- Jumbotron -->
      <div class="jumbotron" style="background-color: #FFF;">
        <h1 style="text-align: center; color: 03033c;">What Are We Up To?</h1>
        <p>Below you'll find a list of the current campaigns we are running.  Just click the title that sounds interesting to you.  Remember, due to us being non profit these will only last for a limited time so act fast!</p>

	<div align=center>
        <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Campaign List
        <span class="caret"></span></button>
        <ul class="dropdown-menu centerDropdown" role="menu" aria-labelledby="menu1">
          <li role="presentation"><a role="menuitem" tabindex="-1" href="/campaign/1/">Send-A-Cookie</a></li>
          <li role="presentation" class="divider"></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Campaign #2</a></li>
	  <li role="presentation" class="divider"></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Campaign #3</a></li>
          <li role="presentation" class="divider"></li>
          <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Campaign #4</a></li>
        </ul>
      </div>
	</div>
	<br><br>

      </div>

    </div> <!-- /container -->


<!-- Obtain latest version of jquery automatically from online server so it doesn't have to be on my machine -->
<script src="http://code.jquery.com/jquery-latest.js"></script>
<!-- Obtain Bootstrap javascript from CDN (online service) so it doesn't have to be on my machine -->

	<script src="{{ STATIC_URL }}jquery/jquery-1.8.2.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
{% endblock %}
